/*
Styleshteet Name: Classifieds UI Front Main
Description: You can override this file in your active theme.
*/

/* =Styles for Classifieds Main component.
-------------------------------------------------------------- */
.error {
	background: #FFEBE8;
}
.submit {
	margin: 10px 0;
}
.invalid-login {
	margin-top: 10px;
}
.description {
	color:#888888;
	font-size:12px;
}

.clear{
	clear:both;
}

ul.button-nav li {
	float: left;
	list-style: none;
	padding-right: 15px;
}

.create-new-btn,
.credits_btn,
.checkout_btn
{
	float: right;
}

.av-credits {
	float: right;
	margin-top: 0px;
	color: green;
}

#content .classifieds ul {
	overflow: hidden;
	margin: 0;
	padding-bottom: 15px;
}

.editfield input,
.editfield textarea,
.editfield select {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:95%;
}

.editfield .wp-post-image {
	border: 1px solid #eaeaea;
	padding: 15px;
}
.single-classifieds #content img.wp-post-image {
	border: 1px solid #eaeaea;
	padding: 15px;
	margin: 0 15px 10px 0;
}
.cf-custom-fields .alt {
	background: #F6F6F6;
}
#content .cf-custom-fields tr th {
	border-top:1px solid #eaeaea;
}
.action-form, .confirm-form {
	margin-top: 10px;
}
.cf-padder {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-topleft: 6px;
	border-right: 1px solid #eaeaea;
	margin-right: 225px;
	overflow: hidden;
	padding: 19px;
}


/* =Styles for BuddyPress profile pages and taxonomy pages
-------------------------------------------------------------- */

.cf-ad{
	width: 96%;
	overflow: hidden;
	margin: 0 5px 5px 0;
	border:1px solid #eaeaea;
	padding: 1em;
}

.cf-pad{
	padding:1em;
}

.cf-image {
	float: left;

}

.cf-title{
	font-size: 1.2em;
	font-weight: bold;

}

.cf-price{
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	color: #3279BB;
}

.cf-author{
	font-weight: bold;
}
.cf-terms{
	font-weight: bold;
}
.cf-expires{
	font-weight: bold;
}

.cf-info {
	margin-left: 160px;
}

.cf-info table{
	width: 100%;
	height: 150px;
	border-collapse: collapse;
	margin:0 !important;
}

.cf-info table th {
	text-align: right;
	width: 50px;
}

.cf-info table th,
.cf-info table td {
	padding: 0 1em;
	vertical-align: middle;
	border: 1px solid #eaeaea;
}

.cf-ad form {
	padding-right: 7px;
	overflow: hidden;
	float: right;
}

.cf-ad form.del-form {
	padding-right: 7px;
}

/* =Styles for BuddyPress normal pages
-------------------------------------------------------------- */
.cf-ad-info {
	float: left;
	width: 500px;
}
.cf-ad-info td{
	padding: 0 1em;
}

.cf-ad-info th {
	width: 20%;
	vertical-align: top;
	text-align: right;
	border:1px solid #eaeaea;
	padding: 0 1em;
}
.cf-description {
	text-align: left;
	border:1px solid #eaeaea;
}
.cf-description thead tr {
	background: none;
}
.cf-description td {
	border-top:1px solid #eaeaea;
}
.cf-custom-fields {
	text-align: left;
	margin-top: 20px;
	border:1px solid #eaeaea;
}
.cf-custom-fields td {
	border:1px solid #eaeaea;
}

.cf-contact-form {
	width: 500px;
	float: left;
	margin-top: -20px;
	margin-left: 15px;
}

.contact-user-btn{
	margin-bottom: 1em;
}

/* =Styles for BuddyPress checkout page
-------------------------------------------------------------- */
.terms {
	height:100px;
	overflow-x: hidden;
	color:#888888;
	font-size:12px;
	font-family:"Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
.cf-terms {
	width: inherit;
}
.cf-terms td {
	vertical-align: top;
}
.cf-checkout {
	width: 48%;
	float: left;
	margin-right: 15px;
}
.cf-checkout img {
	margin-bottom: 0 !important;
}
.cf-login {
	width: 48%;
	float: left;
}

#cf-message,
#cf-message-error {
	background-color: #8FF57A;
	color: #1A6A00;
	-moz-border-radius: 3px 3px 3px 3px;
	border: 1px solid #80CF70;
	font-weight: normal;
	margin: 3px 0px 10px 0px;
	text-decoration: none;
	display: block;
	font-size: 12px;
	padding: 5px 50px;
	float: left;
}

#cf-message-error {
	background-color: #FFEBE8;
	color: #000;
	border: 1px solid #CC0000;
}

.my-credits h3 {
	margin: 15px 0px 15px 0px;
}

.my-credits table {
	width: inherit;
}

/* Pagination styles */
.cf-navigation{
	float: right;
}

.cf-pagination {
	clear:both;
	padding:20px 0;
	position: relative;
	font-size:11px;
	line-height:13px;
	z-index:99;
}
.cf-pagination span, .cf-pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #bbb;
}
.cf-pagination a:hover{
	color:#fff;
	background: #3279BB;
}
.cf-pagination .current{
	padding:6px 9px 5px 9px;
	background: #3279BB;
	color:#fff;
}


/** Sigin Form **/
/* tabbed list */
#login-register-password ul.cf_tabs {
	padding-bottom: 0;
	margin: 0;
	position: relative;
	list-style: none;
	z-index: 1000;
	float: left;
}
ul.cf_tabs li {
	position: relative;
	background: #fff;
	border: 1px solid #E7E9F6;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	line-height: 3em;
	padding: 0;
	margin-right: 5px;
	overflow: hidden;
	float: left;
	z-index: 99;
}
ul.cf_tabs li a {
	text-decoration: none;
	padding: 0 10px;
	display: block;
}

ul.cf_tabs li.cf_active {
	border-bottom: 1px solid #fff;
}
ul.cf_tabs li.cf_active a {
	font-weight: bold;
	color: #333;
}

.cf_tab_container {
	background: #fff;
	position: relative;
	margin: 0;
	border: 1px solid #E7E9F6;
	float: left;
	width: 100%;
	top: -1px;
}

.cf_tab_content {
	padding: 15px;
}
.cf_tab_content ul {
	padding: 0;
	margin: 0 0 0 15px;
}
.cf_tab_content li {
	margin: 5px 0;
}

/* global styles */
#login-register-password {}
#login-register-password h3 {
	border: 0 none;
	margin: 10px 0;
	padding: 0;
}
#login-register-password p {
	margin: 0 0 15px 0;
	padding: 0;
}
/* form elements */
.wp-user-form {}
.username,
.password,
.login_fields {
	margin: 7px 0 0 0;
	overflow: hidden;
	width: 100%;
}
.username label,
.password label {
	float: left;
	width: 25%;
}
.username input,
.password input {
	float: left;
	width: 200px;
	padding: 2px 3px;
	color: #777;
}
.rememberme {
	overflow: hidden;
	width: 100%;
	margin-bottom: 7px;
}
#rememberme {
	float: left;
	margin: 4px 4px -4px 0;
}
.user-submit {
	padding: 5px 10px;
	margin: 5px 0;
}
.userinfo {
	float: left;
	width: 75%;
	margin-bottom: 10px;
}
.userinfo p {
	margin-left: 10px;
}
.usericon {
	float: left;
	width: 15%;
	margin: 0 0 10px 22px;
}
.usericon img {
	border: 1px solid #F4950E;
	padding: 1px;
}

/* Update page*/
.cf_tax_panel{
	overflow: auto;
	height:160px;
	border:1px solid #ddd;
}

.cf_tax_panel label{
	margin: 0;
	padding:0;

}
.cf_tax_panel ul{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}

.cf_tax_panel ul.children{
	font-size: .8em;
	margin-left: 1.6em;
}

.cf_taxonomydiv{
	float: left;
	display: block;
	width:47%;
	margin-right: 3%;
}

/*Categories list grid css*/

#cf_list_categories ul{
	padding:0;
	margin:0;
}

.cf_list_grid h2{
	background-color: #eee;
	padding: .2em 1em;
	border-radius: .3em;
	text-align: center;
	font-size: 1em;
}

.cf_list_grid li{
	float: left;
	list-style: none outside none;
	min-height: 11em;
	padding: .5em;
	width: 19%;
	margin: 0 2% 2% 0;
	border: medium solid #eee;
	border-radius: .4em;
	font-size: small;
}

#cf_list_categories span{
}

/*Categories list css*/
.cf_list h2{
	background-color: #eee;
	padding: .2em 1em;
	border-radius: .3em;
	text-shadow: 1px 1px #fff;
}

.cf_list ul{
	min-width:50%;
}

.cf_list li{
	list-style: none outside none;
	margin: .6em;
}

.cf_list div{
	float:left;
	margin: 0 1em;
}

/** File upload button
*
* this is rather empirically arrived at ratios to get the upload button
* to work in all browsers due to [type=file] weirdness between browsers
* Firefox in particualr is touchy.
*/

.upload-button {
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.upload-button input {
	position: absolute;
	right: 0;
	top: -200%;
	width: 100%;
	height: 400%;
	font-size: 10%;
	letter-spacing: 12em;
	cursor: pointer;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	margin-right: 10px;
}

.upload-button .button {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	margin-right: 5px;
	padding: 4px 18px;
	text-transform: uppercase;
}

.upload-button .file-holder {
	background: #ddd;
	padding:3px;
}
