/*
Styleshteet Name: Classifieds UI Front Main
Description: You can override this file in your active theme.
*/

/* =Styles for Classifieds Main component.
-------------------------------------------------------------- */
.error { 
    background: #FFEBE8;
}
.submit { 
    margin: 10px 0;
}
.invalid-login { 
    margin-top: 10px;
}
.description {
    color:#888888;
    font-size:12px;
}

ul.button-nav li {
    float: left;
    list-style: none;
    padding-right: 15px;
}
#content .classifieds ul { 
    overflow: hidden;
    margin: 0;
    padding-bottom: 15px;
}


.editfield .wp-post-image {
    border: 1px solid #ddd;
    padding: 15px;
}
.single-classifieds #content img.wp-post-image { 
    border: 1px solid #ddd;
    padding: 15px;
    margin: 0 15px 10px 0;
}
.cf-custom-fields .alt { 
    background: #F6F6F6;
}
#content .cf-custom-fields tr th { 
    border-top:1px solid #E7E7E7;
}
.action-form, .confirm-form { 
    margin-top: 10px;
}
.cf-padder {
    overflow: hidden;
}


/* =Styles for BuddyPress profile pages and taxonomy pages
-------------------------------------------------------------- */
.cf-ad {
    border: 1px solid #ddd;
    padding: 10px;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0 15px 15px 0;
    width: 445px;
}
.cf-ad table {
    margin: 0 0 0 15px;
    width: 280px;
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.cf-ad table th {
    text-align: right;
    width: 50px;
}
.cf-ad table th, .bp-cf-ad table td {
    border-width: 1px;
    border-style: inset;
    border-color: #ddd;
}
.cf-ad form {
    float: right;
    overflow: hidden;
}
.cf-image {
    float: left;
}
.cf-info {
    float: left;
}


/* =Styles for BuddyPress normal pages
-------------------------------------------------------------- */
.cf-ad-info {
    float: left;
    width: 500px;
    border:1px solid #EAEAEA;
}
.cf-ad-info th {
    width: 100px;
    vertical-align: top;
    text-align: right;
    border:1px solid #EAEAEA;
}
.cf-description {
    text-align: left;
    border:1px solid #EAEAEA;
}
.cf-description thead tr {
    background: none;
}
.cf-description td {
    border-top:1px solid #EAEAEA;
}
.cf-custom-fields {
    text-align: left;
    margin-top: 20px;
    border:1px solid #EAEAEA;
}
.cf-custom-fields td {
    border:1px solid #EAEAEA;
}
.contact-user-btn {
    padding-top: 165px;
    margin-left: 10px;
}
.cf-contact-form {
    width: 500px;
    float: left;
    margin-top: -20px;
    margin-left: 15px;
}


/* =Styles for BuddyPress checkout page
-------------------------------------------------------------- */
.terms {
    height:100px;
    overflow-x: hidden;
    color:#888888;
    font-size:12px;
    font-family:"Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
.cf-terms {
    width: inherit;
}
.cf-terms td {
       vertical-align: top;
}
.cf-checkout {
    width: 48%;
    float: left;
    margin-right: 15px;
}
.cf-checkout img {
    margin-bottom: 0 !important;
}
.cf-login {
    width: 48%;
    float: left;
}
